* {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-sizing: border-box;
   
 }

header {
    text-align: center;
    font-size: 36px;
    padding: 10px;
}

.board {
    display: grid;
    height: 75vh;
    width: 75vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 7vh solid rgb(193, 139, 70);
    background: rgb(255, 221, 0);
    border-radius: 15%;
    margin: auto;
  }
  
 .column {
    display: flex;
    flex-direction: column-reverse;
    height: 61vh;
    width: 1fr;

    text-align: center;
    align-items: center;
    justify-content: space-evenly;
 }

 .slot {
    display: flex;
    height: 7.5vh;
    width: 7.5vh;
    border: 2px solid orange;
    border-collapse: separate; 
    border-radius: 50%; 
 }

 .slot:hover {
   background-color: orange;
   color: white;
 }

 body {

   align-items: center;
 }

 button {
   justify-self: center;
   width: 50vmin;
   margin: 2vmin;
   background-color: rgb(231, 210, 183);
   color: black;
   border: 1vmin solid black;
   border-radius: 4vmin;
   font-size: 3vmin;
   outline: none;
 }
 button:hover {
   background-color:rgb(255, 221, 0);
 }

 main {
   text-align: center;
 }
