* {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-sizing: border-box;
   
 }

header {
    text-align: center;
    font-size: 36px;
    padding: 10px;
}

.board {
    display: grid;
    height: 75vh;
    width: 75vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 7vh solid rgb(193, 139, 70);
    background: rgb(255, 221, 0);
    border-radius: 15%;
    margin: auto;
  }
  
 .column {
    display: flex;
    flex-direction: column-reverse;
    height: 61vh;
    width: 1fr;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
 }

 .slot {
    display: flex;
    height: 7.5vh;
    width: 7.5vh;
    border: 2px solid orange;
    border-collapse: separate; 
    border-radius: 50%; 
    /* background: url(https://i.imgur.com/Jqp2LoD.png); */
    /* background: url(https://i.imgur.com/GfVAd6d.png); */
    background-size: 7.2vh;
 }

 .slot:hover {
   background-color: orange;
   color: white;
 }

 body {

   align-items: center;
 }

 button {
   justify-self: center;
   width: 25vmin;
   height: 7vmin;
   margin: 2vmin;
   background: transparent;
   color: black;
   border: none;
   font-size: 1.5vmin;
   outline: none;
   background: url(https://i.imgur.com/wTkt4EY.png) no-repeat;
   background-size: 25vmin;
   opacity: 75%;
   
 }
 button:hover {
   opacity: 100%
 }

 main {
   text-align: center;

 }
